<!DOCTYPE html>
<html lang="en-US">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<body>
<div class="container">
	<div class="row">
		<h4>Sistem Information DGIT Library</h4><br><br>
	</div>
	<div class="row">
		<div ng-app="myApp" ng-controller="myCtrl"> 
			<div class="form-group">
				<label>Search Title</label><input  class="form-control"  ng-model="search.title">
			</div>
			<div class="form-group">
				<label>Search Body</label>
				<input  class="form-control"  ng-model="search.body">
			</div>
			<table class="table" id="searchBodyResults">
			  <tr><th>Id</th><th>Title</th><th>Body</th></tr>
			  <tr ng-repeat="berita in beritas | filter:search">
			  	<td>{{berita.id}}</td>
			    <td>{{berita.title}}</td>
			    <td>{{berita.body}}</td> 
			  </tr>
			</table>
		</div>
	<div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
